* {
    font-family:        "Source Code Pro", "Zen Maru Gothic", monospace;
    font-weight:        300;
    box-sizing:         border-box;
}

/* ----------------------------------------------------- */

body {
    font-size:          16px;
    line-height:        1.5em;
    margin:             0;
    padding:            0;
}

body::-webkit-scrollbar {
    display: none;
}

article {
    width:              1280px;
    margin:             0 auto;
}

header {
    padding-top:            2.0em;
    padding-bottom:         1.0em;
    border-bottom:          1px black solid;
    margin-bottom:          3.0em;
    display:                grid;
    grid-template-columns:  75% 25%;
}

.bold {
    font-weight:        500;
}

#logo {
    justify-self:       end;
    padding-right:      0.5em;
    margin-bottom:      -2.0em;
    background-image:   none;
}

footer {
    margin-top:         3.0em;
    border-top:         1px black solid;
    padding-top:        1.0em;
    padding-bottom:     2.0em;
}

/* ----------------------------------------------------- */

h1 {
    font-size:          1.0em;
}

h2, h3 {
    font-size:          1.5em;
}

.pickup_images img, video {
    width:              100%;
    aspect-ratio:       4 / 3;
    object-fit:         cover;
    object-position:    center center;
    background-image:   url(../asset/transparent_tile.png);
    vertical-align:     bottom;
}

.log_images img, video {
    width:              100%;
    aspect-ratio:       4 / 3;
    object-fit:         cover;
    object-position:    center center;
    background-image:   url(../asset/transparent_tile.png);
    vertical-align:     bottom;
}

/* ----------------------------------------------- */

a:link {
    color:      #197fb3;
}

a:visited {
    color:      #134c86;
}

a:hover {
    color:      #20bfdf;
    cursor:     pointer;
}

.pickup_images p a:link {
    color:      #4dc3ff;
}
.pickup_images p a:visited {
    color:      #4ca4fc;
}
.pickup_images p a:hover {
    color:      #40dfff;
    cursor:     pointer;
}

/* Mobile ---------------------------------------------- */

@media screen and (max-width: 768px) {
    article {
        width:          auto;
    }
    
    header {
        padding-top:    1.5em;
        padding-bottom: 1.5em;
        border-bottom:  1px black solid;
        margin-bottom:  1.5em;
    }
    
    footer {
        margin-top:     1.5em;
        border-top:     1px black solid;
        padding:        1.0em 1.0em 2.0em 1.0em;
    }
    
    h1, h2, h3 {
        font-size:      1.25em;
        padding:        0 1.0em;
    }
    
    .pickup_images p{
        font-size:      0.7em;
        padding-left:   0.3em;
    }
    #logo {
        margin-top:             -0.2em;
    }
}
