body{
    font-family:    "Source Code Pro", "M PLUS Rounded 1c", monospace;
    font-size:      16px;
    font-weight:    300;
    line-height:    1.5em;
}
body::-webkit-scrollbar {
    display: none;
}

/* ------------------------------ */

article{
    width:          1280px;
    margin:         0 auto;
}
header{
    padding:        2.0em 0 1.0em;
    border-bottom:  1px black solid;
    margin-bottom:  2.0em;
}
footer{
    padding:        1.0em 0 2.0em;
    margin-top:     2.0em;
    border-top:     1px black solid;
}

/* ------------------------------ */

h1, h2, h3, p, ul, li, a{
    font-weight:    300;
}

h1{
    font-size:      1.0em;
}

h2{
    font-size:      1.5em;
    padding-bottom: 0.5em;
}

h3{
    font-size:      1.5em;
}

a:link {
    color: #197fb3;
}
a:visited {
    color: #134c86
    ;
}
a:hover {
    color: #20bfdf;
    cursor: pointer;
}

.small {
    font-size: 75%;
}

.emoji {
    font-family:    "Noto Emoji", sans-serif;
    font-optical-sizing: auto;
    font-weight:    400;
    font-style:     normal;
    font-size:      24px;
    line-height:    2.0em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;
    margin-bottom: 1.0em;
}

.item {
    text-align: right;
}

img {
  width: 100%;
  height: 480px;
  object-fit: cover; /* この一行を追加するだけ！ */
}

.fw_500 {
    font-weight:    500;
}